{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.scss", ".prettierrc"],
            "options": {
                "tabWidth": 2,
                "trailingComma": "none"
            }
        }
    ]
}
