name: Build and lint

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build package
        run: yarn build
  check:
    runs-on: ubuntu-latest
    name: Check
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Check yarn.lock is deduplicated
        run: yarn dedupe --check
      - name: Run prettier
        run: yarn lint
